.search-bar-container {
  margin: 15px 0;
  text-align: center;
}

.search-bar-input {
  width: 60%;
  max-width: 400px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #929292;
}

.search-bar-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}
